@charset "ISO-8859-1";

#smallLogo{
	height:100px;
}

.navbar{
	background-color:#FDF4E3;
	color:black;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #000;
}
