

.card {
	width: 20rem; /* Set the desired width */
	margin-bottom: 2rem; /* Adjust the margin between cards */
}

.card-img-top {
	height: 500px; /* Set the desired height for the book image */
	object-fit: cover; /* Ensure the image fills the container */
}